
.project
    width: 100%
    height: 90vh
    +tablet
        height: 70vh
    +smartphone
        height: 90vh

    .project__title
        text-transform: uppercase
        font-size: 1.1rem
        text-align: center
        margin-top: 70px
        margin-bottom: 0
        position: relative
        color: $color-primary
        +desktop
            margin-top: 40px
        +smartphone
            margin-bottom: 10px
        &::after
            content: ''
            position: absolute
            left: 47%
            bottom: -20px
            width: 6%
            background: $color-orange
            height: 7px
            +smartphone
                width: 33%
                left: 34.5%

    .project__text
        height: 70vh
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        +desktop
            padding-top: 0 30px
        +tablet
            padding: 0 40px
            height: 55vh
        +smartphone
            height: 70vh

        .project__text-title
            text-transform: capitalize
            font-size: 3rem
            font-weight: 400
            color: $color-primary
            +desktop
                font-size: 2.5rem
                margin-bottom: 10px
            +smartphone
                text-align: center
                font-size: 2rem
            +xs
                margin-top: 10px

        .project__text-p
            text-align: center
            color: $color-primary
            font-size: 1.2rem
            +desktop
                font-size: 1.1rem
            +tablet
                margin-bottom: 0
            +smartphone
                font-size: 1rem
            +xs
                font-size: 0.8rem

    .project__text-button
        text-transform: uppercase
        display: flex
        justify-content: center
        align-items: center
        line-height: .7rem
        +tablet
            margin-top: 15px
        +smartphone
            margin-top: 30px
        a
            color: white
            font-size: .6rem
            background: $color-orange
            padding: 10px 30px
            transition: 0.3s
            text-decoration: none
            &:hover
                font-size: .7rem
                font-weight: 700
                text-decoration: underline



