.team
    margin-bottom: 60px
    .team__title
        text-transform: uppercase
        font-size: 1.1rem
        text-align: center
        margin-top: 70px
        margin-bottom: 0
        position: relative
        color: $color-primary
        &::after
            content: ''
            position: absolute
            left: 47.7%
            bottom: -20px
            width: 5%
            background: $color-orange
            height: 7px

    .team_dist
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: auto

        .team__ceo
            display: grid
            grid-template-columns: 300px 3fr
            grid-template-rows: auto
            grid-template-areas: ". team__ceo-title" "team__ceo-face1 team__ceo-text"
            margin-top: 50px

            .team__ceo-title
                grid-area: team__ceo-title
                font-size: 2rem
                font-weight: 400
                color: $color-primary

            .team__ceo-face1
                grid-area: team__ceo-face1
                width: 100%
                height: 100%

                .team__ceo-face1-img
                    width: 150px
                    height: 150px
                    background: url('../assets/face1.png')
                    background-position: center
                    background-size: cover
                    border-radius: 50%
                    position: relative
                    left: 40%

            .team__ceo-text
                grid-area: team__ceo-text

                .team__ceo-text-p
                    font-size: 1.2rem
                    font-weight: 300
                    color: $color-primary
                .p1
                    margin-top: 0
                    span
                        font-weight: bold

        .team__executive
            display: grid
            grid-template-columns: repeat(3, 33%)
            grid-template-rows: auto
            grid-template-areas: "team__executive-title team__executive-title team__executive-title" "p1 p2 p3"
            margin-top: 20px

            .team__executive-title
                grid-area: team__executive-title
                display: flex
                justify-content: center
                text-transform: capitalize
                font-size: 1.8rem
                color: $color-primary
                margin-bottom: 50px

            .team__executive-partner
                display: flex
                flex-direction: column
                align-items: center
                color: $color-primary
                .team__executive-partner-img
                    width: 150px
                    height: 150px
                    border-radius: 50%
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        border-radius: 50%
                .team__executive-partner-name
                    text-align: center
                    font-weight: bold
                .team__executive-partner-text
                    text-align: center
                    margin-top: 0
            .p1
                grid-area: p1
            .p2
                grid-area: p2
            .p3
                grid-area: p3

        .team__button
            text-transform: uppercase
            display: flex
            justify-content: center
            align-items: center
            line-height: .7rem
            margin-top: 40px
            a
                color: white
                font-size: .6rem
                background: $color-orange
                padding: 10px 30px
                transition: 0.3s
                text-decoration: none
                &:hover
                    font-size: .7rem
                    font-weight: 700
                    text-decoration: underline
