.trips
    height: 75vh
    width: 100%
    background: url('../assets/Worker.png')
    background-position: center
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    +smartphone
        height: 60vh
        background-position: 60% 50%


    .trips__counter
        display: flex
        justify-content: center
        align-items: center

        .trips__counter-img
            height: 40%
        .trips__counter-img2
            height: 40%
            transform: rotate(180deg)

        .trip__counter-number
            color: white
            font-size: 10rem
            font-weight: 400
            margin: 0
            padding: 0 25px
            +tablet
                font-size: 7rem
            +smartphone
                font-size: 4rem
                padding: 0

    .trip-text
        text-align: center
        font-size: 2.5rem
        margin-top: 10px
        color: white
        font-weight: 300
        +tablet
            font-size: 2rem
        +smartphone
            font-size: 1.5rem


